.movieRow {
    margin-bottom: 30px;
}

.movieRow h2 {
    margin: 0px 0px 0px 30px;
}
.movieRow--list {
    transition: all ease .3s;
}
.movieRow--listarea {
    overflow-x: hidden;
    padding-left: 30px;
}

.movieRow--item {
    display: inline-block;
    width: 150px;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

.movieRow--item a {
    width: 100%;
    height: 100%;
}

.movieRow--item img {
    width: 100%;
    transform: scale(0.9);
    transition: all ease .2s;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.movieRow--item img:hover {
    transform: scale(1);
}

.movieRow--left, 
.movieRow--right {
    position: absolute;
    width: 40px;
    height: 225px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.5s;
}

.movieRow--left {
    left: 0;
}

.movieRow--right {
    right: 0;
}

.movieRow:hover .movieRow--left,
.movieRow:hover .movieRow--right {
    opacity: 1;
}


img::-moz-selection {
    background-color: transparent;
    color: #000;
}

img::selection {
    background-color: transparent;
    color: #000;
}
